<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
        <label for="firstName" >First Name</label>
        <input required minlength="4" maxlength="8" id="firstName" ngModel name="firstName" #firstName="ngModel"
         (click)="onlog(firstName)" type="text" class="form-control" />
         <div class="alert alert-danger"
         *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First Name is Required</div>
            <div *ngIf="firstName.errors.minlength">Please Enter Above 4 Character</div> 
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" cols="30" rows="5" ></textarea>
    </div>   
    <div class="form-group">
        <label for="contactMethod">Contact Name</label>
        <select
        ngModel
        name="contactMethod"
        id="contactMethod"
        class="form-control">
        <option value="">Select Course</option>
        <option
        *ngFor="let contact of contactMethod"
        [value]="contact.name">
        {{contact.name}}
        </option>

        </select>
    </div>
    <button 
    class="btn btn-primary"
    [disabled]="!f.valid"
    >Submit</button>
    {{f.value | json}}
    <div class="radio">
        <label>
            <input ngModel type="radio" name="coursename" value="01" />
            Subscribed Emails
            
        </label>
    </div>
</form>
